<?xml version="1.0"?>
<psalm
    errorLevel="4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <ignoreFiles allowMissingFiles="true">
            <directory name="vendor"/>
            <directory name="tests/Functional/App/var"/>
        </ignoreFiles>
        <directory name="src"/>
        <directory name="tests"/>
    </projectFiles>
    <issueHandlers>
        <UndefinedClass>
            <errorLevel type="suppress">
                <referencedClass name="Relay\*" />
            </errorLevel>
        </UndefinedClass>
        <UndefinedDocblockClass>
            <errorLevel type="suppress">
                <referencedClass name="Relay\*" />
            </errorLevel>
        </UndefinedDocblockClass>
        <PropertyNotSetInConstructor>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </PropertyNotSetInConstructor>
        <MissingPropertyType>
            <errorLevel type="suppress">
                <file name="src/Factory/PhpredisClientFactory.php"/>
            </errorLevel>
        </MissingPropertyType>
        <PossiblyInvalidArgument>
            <errorLevel type="suppress">
                <file name="src/Factory/PhpredisClientFactory.php"/>
            </errorLevel>
        </PossiblyInvalidArgument>
        <PossiblyUndefinedArrayOffset>
            <errorLevel type="suppress">
                <file name="src/Factory/PhpredisClientFactory.php"/>
            </errorLevel>
        </PossiblyUndefinedArrayOffset>
        <RiskyTruthyFalsyComparison>
            <errorLevel type="suppress">
                <file name="src/Factory/PhpredisClientFactory.php"/>
            </errorLevel>
        </RiskyTruthyFalsyComparison>
        <PossiblyFalseArgument>
            <errorLevel type="suppress">
                <file name="src/Factory/PhpredisClientFactory.php"/>
            </errorLevel>
        </PossiblyFalseArgument>
        <PossiblyNullArgument>
            <errorLevel type="suppress">
                <file name="src/Factory/PhpredisClientFactory.php"/>
            </errorLevel>
        </PossiblyNullArgument>
        <MoreSpecificReturnType>
            <errorLevel type="suppress">
                <file name="src/Factory/PhpredisClientFactory.php"/>
            </errorLevel>
        </MoreSpecificReturnType>
        <InvalidStringClass>
            <errorLevel type="suppress">
                <file name="src/Factory/PhpredisClientFactory.php"/>
            </errorLevel>
        </InvalidStringClass>
        <PossiblyNullOperand>
            <errorLevel type="suppress">
                <file name="src/Factory/PhpredisClientFactory.php"/>
            </errorLevel>
        </PossiblyNullOperand>
        <LessSpecificReturnStatement>
            <errorLevel type="suppress">
                <file name="src/Factory/PhpredisClientFactory.php"/>
            </errorLevel>
        </LessSpecificReturnStatement>
        <ArgumentTypeCoercion>
            <errorLevel type="suppress">
                <file name="src/Factory/PhpredisClientFactory.php"/>
            </errorLevel>
        </ArgumentTypeCoercion>
        <ArgumentTypeCoercion>
            <errorLevel type="suppress">
                <file name="tests/Factory/PhpredisClientFactoryTest.php"/>
            </errorLevel>
        </ArgumentTypeCoercion>
        <MissingClosureReturnType>
            <errorLevel type="suppress">
                <file name="src/Factory/PhpredisClientFactory.php"/>
            </errorLevel>
        </MissingClosureReturnType>
        <PossiblyFalseArgument>
            <errorLevel type="suppress">
                <file name="src/Factory/PhpredisClientFactory.php"/>
            </errorLevel>
        </PossiblyFalseArgument>
    </issueHandlers>
</psalm>
