<?xml version="1.0"?>
<psalm
    errorLevel="4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <ignoreFiles allowMissingFiles="true">
            <directory name="vendor"/>
            <directory name="tests/Functional/App/var"/>
        </ignoreFiles>
        <directory name="src"/>
        <directory name="tests"/>
    </projectFiles>
    <issueHandlers>
        <UndefinedDocblockClass>
            <errorLevel type="suppress">
                <referencedClass name="UnitEnum" />
            </errorLevel>
        </UndefinedDocblockClass>
        <UndefinedInterfaceMethod>
            <errorLevel type="suppress">
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\NodeParentInterface::scalarNode" />
            </errorLevel>
        </UndefinedInterfaceMethod>
        <UndefinedMethod>
            <errorLevel type="suppress">
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\NodeDefinition::children" />
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\NodeDefinition::prototype" />
            </errorLevel>
        </UndefinedMethod>
    </issueHandlers>
</psalm>
