<?xml version="1.0"?>
<psalm
    errorLevel="4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <ignoreFiles allowMissingFiles="true">
            <directory name="vendor"/>
            <directory name="tests/Functional/App/var"/>
        </ignoreFiles>
        <directory name="src"/>
        <directory name="tests"/>
    </projectFiles>
    <issueHandlers>
        <UnusedMethodCall>
            <errorLevel type="suppress">
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\NodeBuilder::end"/>
            </errorLevel>
        </UnusedMethodCall>
    </issueHandlers>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
